<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-6 mx-auto">
      <div class="jumbotron">
        <h1>Add Food Details</h1>
        <%= render 'form', food: @food %>
        <%= link_to 'Back', foods_path %>
      </div>
    </div>
  </div>
</div>