<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="d-flex h-100 pr-md-5">
          <div class="align-self-center section-info">
            <h1>About Us</h1>
            <p>We are the member of an Indian NGO’s to curb food wastage: Taking from the wedding or any function and giving to the needy people. We are located in Bangalore</p>
          </div>

        </div>
      </div>
      <div class="col-sm-5">
        <div class="hero-bg h-100"></div>
      </div>
    </div>
  </div>
</section>


<section class="highlight-card">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <img src="<%= asset_path('foodwaste.jpg') %>" class="img-responsive w-100">
          </div>
        </div>
      </div>


      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <img src="<%= asset_path('hunger.jpg') %>" class="img-responsive w-100">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>