<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="d-flex h-100 pr-md-5">
          <div class="align-self-center section-info">
            <h1>Lorem ipsum salet doler itesum ipsum salet doler</h1>
            <p>You may also utilize dropdowns in your navbar nav. Dropdown menus require a wrapping element for positioning, so be sure to use separate and nested elements for .nav-item and .nav-link as shown below.</p>

          </div>

        </div>
      </div>
      <div class="col-sm-5">
        <div class="hero-bg h-100"></div>
      </div>
    </div>
  </div>
</section>


<section class="highlight-card">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <div class="card bg-primary">
          <div class="card-body text-white p-5">
            <h1>Lorem Ipsum</h1>
            <p>You may also utilize dropdowns in your navbar nav. Dropdown menus require a wrapping element for positioning, so be sure to use separate and nested elements for .nav-item and .nav-link as shown below.</p>

          </div>
        </div>
      </div>


      <div class="col-sm-6">
        <div class="card">
          <div class="card-body text-primary p-5">
            <h1>Lorem Ipsum</h1>
            <p>You may also utilize dropdowns in your navbar nav. Dropdown menus require a wrapping element for positioning, so be sure to use separate and nested elements for .nav-item and .nav-link as shown below.</p>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>